## Etapa 1
### Carregar os dados e criar o banco de dados da camada Bronze (ou Raw) no datalake

In [0]:
# Import libraries

import requests
import pandas as pd
import re

from pyspark.sql.functions import regexp_extract, col, regexp_replace, lit

In [0]:
# Import files from google drive to databricks notebook
original_url = 'https://drive.google.com/file/d/1PgOOOczYBaxyWZhHrsNPBF5L4_4vkXPt/view?usp=sharing'

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("Viva_Real_RJ.json", "wb") as f:
    f.write(response.content)

# Read file using pandas
df_VR_RJ = pd.read_json('Viva_Real_RJ.json')

# Convert pandas dataframe to spark dataframe to use later in dbfs system
df_vivareal_rio = spark.createDataFrame(df_VR_RJ)

In [0]:
# Show a sample from the dataset using pandas, better legibility

df_VR_RJ.sample(5)

,link,titulo,endereco,bairro,cep,preco,condominio,iptu,metragem,dormitorios,banheiros,vagas
997,/imovel/apartamento-1-quartos-leblon-zona-sul-...,"JM ALUGA APARTAMENTO 1 QUARTO, 42M2 NO LEBLON,...","Avenida Ataulfo de Paiva,",Leblon,22440032,4000,1495.0,222.0,42,1,1,0
142,/imovel/apartamento-3-quartos-ipanema-zona-sul...,COND. CHATEAU DU BARON // LOCALIZAÇÃO PRIVILEG...,"Rua Barão da Torre, 667",Ipanema,22411003,8000,3043.0,1025.0,120,3,3,2
1037,/imovel/apartamento-4-quartos-copacabana-zona-...,"Copacabana | Apartamento 4 quartos, sendo 1 suite","Rua Domingos Ferreira,",Copacabana,22050012,15000,1176.0,4029.0,110,4,2,0
750,/imovel/apartamento-3-quartos-ipanema-zona-sul...,Imóvel para aluguel possui 147 metros quadrado...,"Rua Francisco Otaviano,",Ipanema,22080045,8800,1979.0,NaN,147,3,3,1
588,/imovel/apartamento-3-quartos-leblon-zona-sul-...,"LEBLON QUADRISSIMA PRAIA, METRÔ, VISTA 2 IRMÃO...","Avenida General San Martin,",Leblon,22441015,12000,3200.0,7900.0,118,3,4,2

In [0]:
# Import files from google drive to databricks notebook
original_url = 'https://drive.google.com/file/d/1fBw2NCVL4KpdinDc96ccQ5WO9MUKSy7z/view?usp=drive_link'

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("Viva_Real_SP.json", "wb") as f:
    f.write(response.content)

# Read file using pandas
df_VR_SP = pd.read_json('Viva_Real_SP.json')

# Convert pandas dataframe to spark dataframe to use later in dbfs system
df_vivareal_sp = spark.createDataFrame(df_VR_SP)

In [0]:
# Show a sample from the dataset using pandas

df_VR_SP.sample(5)

,link,preco,endereco,title,area,iptu,condominio,dormitorios,banheiros,garagem
25,None,R$ 5.199,Rua Barão do Bananal,"Vila Pompéia, São Paulo",75 m²,"[Cond. R$ 1.390 , IPTU R$ 514]","[Cond. R$ 1.390 , IPTU R$ 514]",2,1,2
1273,https://www.vivareal.com.br/imovel/apartamento...,R$ 3.500,Rua Professor José Horácio Meirelles Teixeira,"Vila Suzana, São Paulo",82 m²,"[Cond. R$ 900 , IPTU R$ 281]","[Cond. R$ 900 , IPTU R$ 281]",3,2,2
553,https://www.vivareal.com.br/imovel/apartamento...,R$ 5.500,Rua dos Pinheiros,"Pinheiros, São Paulo",122 m²,"[Cond. R$ 2.212 , IPTU R$ 342]","[Cond. R$ 2.212 , IPTU R$ 342]",3,2,1
289,None,R$ 10.000,Rua Atibaia,"Pacaembu, São Paulo",370 m²,"[Cond. R$ 5.335 , IPTU R$ 3.360]","[Cond. R$ 5.335 , IPTU R$ 3.360]",4,5,4
1136,https://www.vivareal.com.br/imovel/apartamento...,R$ 4.800,Rua Eugênio de Medeiros,"Pinheiros, São Paulo",52 m²,"[Cond. R$ 1.200 , IPTU R$ 400]","[Cond. R$ 1.200 , IPTU R$ 400]",2,1,2

In [0]:
# Import files from google drive to databricks notebook
original_url = 'https://drive.google.com/file/d/1FjMKaMsIVnW4yBtKbpbxIf_qJME_8hOh/view?usp=sharing'

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("OLX_RJ.json", "wb") as f:
    f.write(response.content)

# Read file using pandas
df_olx_RJ = pd.read_json('OLX_RJ.json')

# Convert pandas dataframe to spark dataframe
df_olx_rio = spark.createDataFrame(df_olx_RJ)

In [0]:
# Show a sample from the dataset using pandas

df_olx_RJ.sample(5)

,titulo,preco_aluguel,localizacao,bairro,area,iptu,preco_condominio,quartos,banheiros,garagem
2479,Imóvel para aluguel e venda tem 300 metros qua...,R$ 25.500,"Rio de Janeiro, Ipanema",Ipanema,300m²,R$ 2.997,R$ 8.500,4,4,2
3361,Apartamento para Alugar com 94m2 com Suíte e V...,R$ 14.500,"Rio de Janeiro, Ipanema",Ipanema,94m²,R$ 2.180,R$ 4.663,2,2,2
1821,Quarto aconchegante para alugar,R$ 1.700,"Rio de Janeiro, Leblon",Leblon,None,None,None,None,None,None
135,Imóvel para aluguel com 36 metros quadrados co...,R$ 2.500,"Rio de Janeiro, Flamengo",Flamengo,36m²,R$ 98,R$ 820,1,1,None
3531,Locação de apartamento em Residencial com Serv...,R$ 3.355,"Rio de Janeiro, Copacabana",Copacabana,70m²,R$ 427,R$ 2.218,1,1,1

In [0]:
# Import files from google drive to databricks notebook
original_url = 'https://drive.google.com/file/d/1i6I_dasanYeTLsuGUvrSxTfA5OMhMrbI/view?usp=drive_link'

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("OLX_SP.json", "wb") as f:
    f.write(response.content)

# Read file using pandas
df_olx_SP = pd.read_json('OLX_SP.json')

# Convert pandas dataframe to spark dataframe
df_olx_sp = spark.createDataFrame(df_olx_SP)

In [0]:
# Show a sample from the dataset using pandas

df_olx_SP.sample(5)

,titulo,preco_aluguel,localizacao,area,iptu,preco_condominio,quartos,banheiros,garagem
3018,None,None,None,None,None,None,None,None,NaN
2273,"Apartamento com 3 dormitórios para alugar, 123...",R$ 8.500,"São Paulo, Vila Romana",123m²,R$ 5.600,R$ 1.350,3,2,NaN
5199,Imóvel para aluguel tem 88 metros quadrados co...,R$ 8.500,"São Paulo, Pinheiros",88m²,R$ 576,R$ 1.277,2,2,NaN
1230,"Sobrado, Parque Ipê - São Paulo",R$ 2.800,"São Paulo, Parque Ipê",120m²,R$ 0,R$ 0,2,3,NaN
329,Imóvel para aluguel tem 219 metros quadrados c...,R$ 9.000,"São Paulo, Higienópolis",219m²,R$ 1.502,R$ 4.098,3,5 ou mais,NaN

In [0]:
# Import files from google drive to databricks notebook
original_url = 'https://drive.google.com/file/d/1NOlDvIj5QQZHwXHXY5guCMxiuSeb52ek/view?usp=drive_link'

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("ZAP_RJ.json", "wb") as f:
    f.write(response.content)

# Read file using pandas
df_zap_RJ = pd.read_json('ZAP_RJ.json')

# Convert pandas dataframe to spark dataframe
df_zap_rj = spark.createDataFrame(df_zap_RJ)

In [0]:
# Show a sample from the dataset using pyspark

df_zap_RJ.sample(5)

,link,preco,endereco,area,iptu,preco_condominio,quartos,banheiros,garagem
1,https://www.zapimoveis.com.br/imovel/aluguel-a...,15000,Avenida Epitácio Pessoa,230,1569.0,4997.0,3,4,3
318,https://www.zapimoveis.com.br/imovel/aluguel-a...,12500,Avenida Rui Barbosa,248,1180.0,2700.0,3,4,1
6,https://www.zapimoveis.com.br/imovel/venda-apa...,6700,Rua Senador Vergueiro,111,331.0,1024.0,3,2,1
66,https://www.zapimoveis.com.br/imovel/aluguel-a...,4000,Rua Barata Ribeiro,68,243.0,1293.0,2,2,1
360,https://www.zapimoveis.com.br/imovel/aluguel-a...,18000,Avenida General San Martin,200,1785.0,3300.0,4,1,2

In [0]:
# Import files from google drive to databricks notebook
original_url = 'https://drive.google.com/file/d/1_UvnWnrelZR8u_UsgjQIU3Ccjo49XYtp/view?usp=sharing'

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("ZAP_SP.json", "wb") as f:
    f.write(response.content)

# Read file using pandas
df_zap_SP = pd.read_json('ZAP_SP.json')

# Convert pandas dataframe to spark dataframe
df_zap_sp = spark.createDataFrame(df_zap_SP)

In [0]:
# Show a sample from the dataset using pyspark

df_zap_SP.sample(5)

,link,preco,endereco,title,area,iptu,preco_condominio,quartos,banheiros,garagem
499,https://www.zapimoveis.com.br/imovel/aluguel-a...,R$ 20.800,Rua Fábia,"Vila Romana, São Paulo",206 m²,None,None,3,4,3
288,https://www.zapimoveis.com.br/imovel/venda-apa...,R$ 14.000,Rua Ministro Godói,"Perdizes, São Paulo",135 m²,"[Cond. R$ 1.578 , IPTU R$ 1.140]","[Cond. R$ 1.578 , IPTU R$ 1.140]",3,4,3
952,https://www.zapimoveis.com.br/imovel/aluguel-a...,R$ 5.100,Rua João Ramalho,"Perdizes, São Paulo",116 m²,"[Cond. R$ 1.000 , IPTU R$ 325]","[Cond. R$ 1.000 , IPTU R$ 325]",3,3,1
503,None,R$ 19.000,Rua Itapaiuna,"Jardim Morumbi, São Paulo",257 m²,"[Cond. R$ 4.800 , IPTU R$ 1.200]","[Cond. R$ 4.800 , IPTU R$ 1.200]",3-4,4-6,4
27,https://www.zapimoveis.com.br/imovel/aluguel-a...,R$ 4.000,Rua Brigadeiro Galvão,"Barra Funda, São Paulo",67 m²,"[Cond. R$ 905 , IPTU R$ 124]","[Cond. R$ 905 , IPTU R$ 124]",2,2,1

In [0]:
# Defining the raw layer (bronze) database, where raw data files from different type and sources will be stored

# Create new database with custom DBFS location
spark.sql("""
CREATE DATABASE IF NOT EXISTS bronze_imoveis
LOCATION 'dbfs:/mvp/database/bronze_imoveis'
""")

Out[34]: DataFrame[]

In [0]:
# Display databases

# display(dbutils.fs.ls("dbfs:/mvp/database/"))

display(spark.sql("SHOW DATABASES")) # este retorna só os que estão na metastore

databaseName
bronze_imoveis
default

In [0]:
# Create delta tables inside the created database using pyspark, using mode overwrite if exists

df_vivareal_rio.write.format("delta").mode("overwrite").saveAsTable('bronze_imoveis.vivareal_rio')
df_vivareal_sp.write.format("delta").mode("overwrite").saveAsTable('bronze_imoveis.vivareal_sp')

df_olx_rio.write.format("delta").mode("overwrite").saveAsTable('bronze_imoveis.olx_rio')
df_olx_sp.write.format("delta").mode("overwrite").saveAsTable('bronze_imoveis.olx_sp')

df_zap_rj.write.format("delta").mode("overwrite").saveAsTable('bronze_imoveis.zap_rio')
df_zap_sp.write.format("delta").mode("overwrite").saveAsTable('bronze_imoveis.zap_sp')

In [0]:
# Display tables inside bronze layer

spark.sql("SHOW TABLES IN bronze_imoveis").show(truncate=False)

+--------------+------------+-----------+
|database      |tableName   |isTemporary|
+--------------+------------+-----------+
|bronze_imoveis|olx_rio     |false      |
|bronze_imoveis|olx_sp      |false      |
|bronze_imoveis|vivareal_rio|false      |
|bronze_imoveis|vivareal_sp |false      |
|bronze_imoveis|zap_rio     |false      |
|bronze_imoveis|zap_sp      |false      |
+--------------+------------+-----------+

#####Carregar Bases de Ceps de Rio e SP na camada Bronze

In [0]:
# Import files from google drive to databricks notebook
original_url = 'https://drive.google.com/file/d/1--1eqBPj-8-ESxr-ufHWq2Wr6CjrvecO/view?usp=sharing'

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("cep_rj.csv", "wb") as f:
    f.write(response.content)

# Read file using pandas
Cep_rj = pd.read_csv('cep_rj.csv')

# Convert pandas dataframe to spark dataframe
df_Cep_RJ = spark.createDataFrame(Cep_rj)

df_Cep_RJ.show(5)

+--------+--------------------+----------+------+----------+----------+
|     Cep|          Logradouro|    Numero|Bairro|Cod Cidade|Cod Estado|
+--------+--------------------+----------+------+----------+----------+
|20010000|Rua Primeiro de M...|Unnamed: 2|Centro|      7764|        19|
|20010010|Praça Quinze de N...|      null|Centro|      7764|        19|
|20010020|        Rua São José|      null|Centro|      7764|        19|
|20010030|     Travessa Tinoco|      null|Centro|      7764|        19|
|20010040|  Travessa Tocantins|      null|Centro|      7764|        19|
+--------+--------------------+----------+------+----------+----------+
only showing top 5 rows

In [0]:
df_Cep_RJ.printSchema()

root
 |-- Cep: long (nullable = true)
 |-- Logradouro: string (nullable = true)
 |-- Numero: string (nullable = true)
 |-- Bairro: string (nullable = true)
 |-- Cod Cidade: long (nullable = true)
 |-- Cod Estado: long (nullable = true)

In [0]:
# Pyspark does not accept blank spaces or other characteres in column names
# Apply a function to rename columns

for col_name in df_Cep_RJ.columns:
    new_col = col_name.lower().strip().replace(" ", "_").replace("ã", "a").replace("é", "e").replace("í", "i")
    df_Cep_RJ = df_Cep_RJ.withColumnRenamed(col_name, new_col)

In [0]:
# Create an auxiliary database inside bronze layer

spark.sql("""
CREATE DATABASE IF NOT EXISTS bronze_aux
LOCATION 'dbfs:/mvp/database/bronze_aux'
""")

Out[54]: DataFrame[]

In [0]:
# Create a table inside bronse auxiliary database
df_Cep_RJ.write.format("delta").mode("overwrite").saveAsTable("bronze_aux.cep_rio")

In [0]:
# Import files from google drive to databricks notebook
original_url = 'https://drive.google.com/file/d/12RZkNIR2XKkYz7NwKwi1OhunA3MOCCsw/view?usp=sharing'

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("cep_sp.csv", "wb") as f:
    f.write(response.content)

# Read file using pandas
Cep_sp = pd.read_csv('cep_sp.csv')

# Convert pandas dataframe to spark dataframe
df_Cep_SP = spark.createDataFrame(Cep_sp)

df_Cep_SP.show(5)

+-------+--------------------+------------+------+----------+----------+
|    Cep|          Logradouro|      Numero|Bairro|Cod Cidade|Cod Estado|
+-------+--------------------+------------+------+----------+----------+
|1001000|         Praça da Sé|- lado ímpar|    Sé|      8966|        26|
|1001001|         Praça da Sé|  - lado par|    Sé|      8966|        26|
|1001010|Rua Filipe de Oli...|        null|    Sé|      8966|        26|
|1001900|     Praça da Sé 108|        null|    Sé|      8966|        26|
|1001901|     Praça da Sé 371|        null|    Sé|      8966|        26|
+-------+--------------------+------------+------+----------+----------+
only showing top 5 rows

In [0]:
# Pyspark does not accept blank spaces or other characteres in column names
# Apply a function to rename columns

for col_name in df_Cep_SP.columns:
    new_col = col_name.lower().strip().replace(" ", "_").replace("ã", "a").replace("é", "e").replace("í", "i")
    df_Cep_SP = df_Cep_SP.withColumnRenamed(col_name, new_col)

In [0]:
# Create a table inside bronze auxiliary database
df_Cep_SP.write.format("delta").mode("overwrite").saveAsTable("bronze_aux.cep_sp")

#### Importar base com ceps e coordenadas e geocodigo ibge

In [0]:
# Import base with geo info

original_url = "https://drive.google.com/file/d/1pVD2DHFw8nQH2u4ELovYu7cBXhmVYaH7/view?usp=drive_link"

file_id = original_url.split("/d/")[1].split("/")[0]
url = f"https://drive.google.com/uc?id={file_id}&export=download" 

# Download the file
response = requests.get(url)
with open("Geo_base.csv", "wb") as f:
    f.write(response.content)

# Read file using pandas
Geo_base = pd.read_csv('Geo_base.csv')

# Convert pandas dataframe to spark dataframe
Geo_base = spark.createDataFrame(Geo_base)

Geo_base.show(5)

+---------+------------+-----------+---------------+
| POSTCODE|         LON|        LAT|     CD_GEOCODI|
+---------+------------+-----------+---------------+
|00000-000| -46.6638301|-22.2576125|313490505000032|
|00000-001| -67.8387383|   -9.92166|120040105000325|
|00000-002|-67.88050835| -9.8820725|120040105000325|
|00000-003| -46.5144433|  -21.82057|315180005000240|
|00000-004| -67.8933533| -9.8820383|120040105000325|
+---------+------------+-----------+---------------+
only showing top 5 rows

In [0]:
# Pyspark does not accept blank spaces or other characteres in column names
# Apply a function to rename columns

for col_name in Geo_base.columns:
    new_col = col_name.lower().strip().replace(" ", "_").replace("ã", "a").replace("é", "e").replace("í", "i")
    Geo_base = Geo_base.withColumnRenamed(col_name, new_col)

In [0]:
# Saving delta table in silver_imoveis database

tabela = "bronze_aux.geo_base"

if spark._jsparkSession.catalog().tableExists(tabela):
    spark.sql(f"DROP TABLE {tabela}")

# Delete metadata after dropping table(if it exists)
dbutils.fs.rm("dbfs:/user/hive/warehouse/bronze_aux.db/geo_base", recurse=True) 

# Write table in delta format
Geo_base.write.format("delta").mode("overwrite").option('mergeSchema', 'true').saveAsTable("bronze_aux.geo_base")

#### Conclusão Etapa 1
Nesta etapa os dados foram importados de uma pasta do google drive, mas poderiam ter sido importados de outras fontes, como por exemplo um bucket de alguma cloud (Azure, GCP, AWS) ou de outro servidor web. 
Inserindo um link para download direto do arquivo, o Databricks consegue ler e importar os dados usando request/response.

Em seguida, uma database chamada "bronze_imoveis" foi definida dentro de uma estrutura de pastas customizada no DBFS (dbfs:/mvp/database/bronze_imoveis) e dentro desta database foram salvas as tabelkas Delta contendo os dados brutos importados.

Neste primeiro layer ou camada chamada de "Bronze", os dados brutos são salvos diretamente, sem qualquer tipo de manipulação ou tratamento. Eles refletem exatamente o esado em que foram coletados da fonteoriginal.

 Em uma próxima etapa (Camada Silver), os dados serão tratados, limpos e uniformizados, de modo que cada dataset deverá ter o mesmo esquema de colunas e tipos de dados, preparados para futiras análise e agregações..